:root {
  --text-grey: #4e4e4e;
  --r-heading-text-transform: none; /* No all-caps headings */
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.flex-center > * {
  margin: 0 1em;
  flex: 1 1 0; /* Make same width */
}

.prop {
  font-style: italic;
}

/* Masthead in combined image/text header */
.masthead {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.masthead img {
  max-height: 5rem;
  margin: 0 1rem;
  /* margin-left: -5rem; */
}

/* Fix heading spacing */
.reveal h1:last-child,
.reveal h2:last-child,
.reveal h3:last-child,
.reveal h4:last-child,
.reveal h5:last-child,
.reveal h6:last-child {
  margin: var(--r-heading-margin);
}

/* Small notes below list items (references etc) */
.note {
  display: block;
  font-size: 0.5em;
  color: var(--text-grey);
  margin-top: -0.2em;
  text-transform: initial;
  font-weight: initial;
}

/* Column helper (grid) */
.columns {
  display: grid;
  grid-auto-flow: column;
}

/* External links */
.reveal a[href^='http'] {
  color: var(--r-main-color);
  text-decoration: none;
}
